doctype html
html
    head
        title Wordinary
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='app/assets/css/materialize.min.css', charset='utf-8')     
    body
        div(class='container', style='width: 55%')
            h1(class='center-align') Wordinary
            nav
                div(class='nav-wrapper')
                    div(class='input-field')
                        input#search(type='search', required)
                        label(class='label-icon', for='search')
                            i(class='material-icons') search
            
            div(class='display-word')

        script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(src='app/assets/js/materialize.min.js')
    script(src="app/assets/js/script.js")
        

        
        